#splash {
  margin-top: -30px;
  background: url('/sitestatic/brands/rapidpro/splash.jpg') 0px 0px !important;
  background-size: cover !important;
  width: 100%;
  height: 0px;
  padding-bottom: 40%;
}

#topnavbar {
  background-color: #0c6596 !important;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: 0px solid pink;
  z-index: 0;
  position: relative;

}
#header {
  background-color: #ff0fff;
  padding-top: 32px;
  padding-bottom: 20px;
  color: blue;
  margin-bottom: 30px;
  border: 0px solid pink;
   z-index: 0;
  position: relative;
  height: 80px;
}

.navbar-inner {
     background-color: #2fffff !important;
     border-color: #0fffff !important;
}


.navbar .brand {
  background-color: #FFA500; // orange
}